[submodule "gausplat-loader"]
	path = crates/gausplat-loader
	url = https://github.com/AsherJingkongChen/gausplat-loader

[submodule "gausplat-renderer"]
    path = crates/gausplat-renderer
    url = https://github.com/AsherJingkongChen/gausplat-renderer

[submodule "gausplat-trainer"]
    path = crates/gausplat-trainer
    url = https://github.com/AsherJingkongChen/gausplat-trainer
